.spinBox {
    width: 400px;
    height: 200px;
    margin: 0 auto;
}
.noDataBox {
    display: flex;
    width: 400px;
    height: 100px;
    margin: 0 auto;
    align-items: center;
}

.noDataTextBox {
    width: 300px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.historyBox {
    width: 350px;
    height: 3000px;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
}

.historyOrders {
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
}