.itemMapBox {
    width: 1500px;
    margin: 0 auto;

}
.buttonBox {
    display: flex;
    align-items: center;
}
.trackButton {
    width: 450px;
    margin: 0 auto;
    text-align: left;
}
.trackOrder p {
    margin-bottom: 2px;
}

.deliveryTime {
    font-size: 25px;
    font-weight: bold;
}

.transitText {
    font-size: 25px;
    font-weight: bold;
}